@import "roomNav.css";
@import "profile.css";

html {
    width: 100%;
    height: 100%;
    overflow: hidden; 
}

body {
    margin: 0;
    width: 100%;
}

strong{
    color: red;
    font-size: 25px;
}

.userchat{
    color: blue;
    font-size: 25px;
}

.container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    height: 75px;
    background-color: #3A7CA5;
    display:flex;
    
}

.menu {
    position: relative;
    left: 0;
    width: 200px;
    background-color: #81C3D7;
    height: 100%;
    float: left;
    top:75px;

}

.content {
    position: absolute;
    bottom: 0;
    top: 75px;
    right: 0;
}

.container .header .menu-icon {
    position: absolute;
    top: 24px;
    left: 24px;
    height: 36px;
    width: 36px;
    background-color: transparent;
}

.menu-component{
    margin: 0;
    padding: 0;
}


.menu-button {
    width: 36px;
    height: 36px;
    padding: 0;
    background-color: transparent;
    border: 1px transparent solid;
}

.menu-button:hover {
    border-color:#e27d5f;
}



.selected{
    background: #1976D2;
}

.ng-hide:not(.ng-hide-animate) {
    display: none !important;
    width: 0;
}

.room {
    width: 250px;
    background-color:  #40C4FF;
    height: 100%;
    position: relative;
    float: left;
    border:1px solid #e8a87c;
}

.menu-item {
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    white-space: nowrap;
}

.menu-text {
    align-self: center;
    font-size: 19px;
}

.menu-item:hover,
.menu-item:focus {
    background-color:#3A7CA5 ;
    color: white;
    border: none;
    
}

.chat-area {
    position: absolute;
    right: 0;
    height: 100%;
    float: left;
    width: calc(100% - 250px);
}

.chat-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80px;
    display: flex;
    width: 100%;
}

.room-bar {
    position: absolute;
    left: 0;
    height: 80px;
    display: flex;
    width: calc(100% - 16px);
    font-size: 40px;
    line-height: 80px;
    padding-left: 16px;
    border-bottom: 1px solid black;
}

.room-panel{
    display: block;
    width: 100%;
    height: 70px;
    text-align: center;
    font-size: 30px;
    line-height: 70px;
    border-bottom: 1px solid yellow;
    cursor: pointer;
}

.black-color{
    background: black;
}

.room-panel:hover, .hightlighted{
    background: #e27d5f;
}

.text-input {
    margin-left: 2px;
    height: 60px;
    width: calc(100% - 92px);
    font-size: 24px;
    padding-left: 12px;
}

.text-input-button {
    width: 90px;
    height: 60px;
    position: absolute;
    right: 0;
    bottom: 20;
    padding: 0;
    border-radius: 5px ;
    
}


.div-sizing {
    transition: width 2s;
}

.small {
    width: calc(100% - 200px);
}

.big {
    width: 100%;
}
#messagePend i{
    color: white;
    font-size: 30px;
}

#messagePend i:hover{
    color: black;
}

.red{
    background: red;
}

.currentUser{
    float: left;
}
.friend{
    float: right;
}
