.room-nav{
    height: 75px;
    border-bottom: 1px solid #f1f1f1;
    display: flex;
}
.add-room{
    width: 125px;
    text-align: center;
    height: 75px;
    position: absolute;
}

.join-room{
    position: absolute;
    left: 50%;
    right: 0;
    height: 75px;
}

.room-button{
    top: 50%;
    position: absolute !important;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 6px !important;
    margin: 0 4px!important;
    width: 105px; 
    font-size: 13px !important;
}
.room-item{
    display: inline-block;
}

.join-button{
    left: 50px !important;
}

.room-hover:hover{
    background:	#137797;
    border-radius: 7px;
}
.imgContainer{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
   
}
.myImg{
    width: auto;
    height: 100%;
    margin-left: 50%;
    transform: translateX(-50%);
}