<div style="height: 100%;overflow: auto;">
         <md-subheader class = "md-no-sticky" style="border-bottom: 2px solid black;margin-bottom: 30px;">
            <h1 class="title" style="padding-left: 185px;">Permission</h1></md-subheader>
         <md-list-item ng-repeat="x in contacts" ng-click="showEl(x)" style="margin-left:200px;border: 1px solid black;margin-bottom: 5px; width: 700px;">
            <div class="imageContainer">
				  <img ng-src="{{x.image}}" class = "myImage" alt = "{{x.username}}" /><!--ảnh-->
            </div>
                  <p> Username : {{x.username}}</p>
               <md-button class = "md-raised md-warn " ng-click="deleteUser(x.id)">delete</md-button>
			  </md-list-item>
            
         </md-content>
		
</div>
<style type="text/css">
   .myImage{
      width: auto;
      height: 100%;
      margin-left: 50%;
      transform: translateX(-50%);
   }

   .imageContainer{
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 20px;
      border: 1px solid black;
   }
</style>


