<div class="header">
    <div class="menu-icon" ng-app="">
            <button class="menu-button" ng-click="clickMenu()">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <p>{{myButton}}</p>
    </div>
    <div ng-model="notifications" class="dropdown" id="notifications" ng-click="displayNoti()">
    	{{notifications}}<!-- số thông báo -->
    	<div class="dropdown-content" id="dropdown-content" >
    		<div class="el" ng-repeat="note in listNote">{{note.mess}}{{note.username}}</div>
    	</div>
	</div>
    <div ng-model="username" style="position:absolute; height: 75px; align-self: center;line-height: 75px;right: 0;font-size: 28px;">{{username}}</div>
</div>
<style type="text/css">
	.dropdown{
		position:absolute; 
		height: 50px;
		width:50px;
		right: 300px;
		align-self: center; 
		background: green;
	}
	.dropdown:hover{
		cursor: pointer;
	}
	.dropdown-content {
		display: none;
		position: absolute;
		z-index: 1;/******************/
		width: 200px;
		height: 200px;
		overflow: auto;
		top: 50px;
	}
	.el {
		height: 50px;
		background-color: white;
	}
	.el:hover {
		background-color: #ddd;
		cursor: pointer;
	}
	/*.dropdown:hover .dropdown-content {
  		display: block;
	}*/
</style>
