<div class="header">
    <div class="menu-icon" ng-app="">
            <button class="menu-button" ng-click="clickMenu()">
                <i class="fas fa-bars fa-2x"></i>
            </button>
            <p>{{myButton}}</p>
    </div>
    <div ng-model="notifications" class="dropdown" id="notifications" ng-click="displayNoti()" style="z-index: 2">
    	<span class="header-span">{{notifications}}<!-- số thông báo --></span>	
    	<img src="https://png.pngtree.com/png-clipart/20190924/original/pngtree-notification--icon-in-trendy-style-isolated-background-png-image_4859577.jpg" class="icon">
    	<div class="dropdown-content" id="dropdown-content" >
			<div class="room-invi" ng-repeat="item in listRoomInvi">
				<h4 class="header-notifi">{{item.content}}</h4>
				<div style="float: right;">
					<md-button class="md-primary md-raised" ng-click="acceptRoom(item, this)">Accept</md-button>
					<md-button class="md-warn md-raised" ng-click="refuseRoom(item, this)">Nope</md-button>
				</div>
			</div>
			<div class="el" ng-repeat="note in listNote">{{note.mess}}{{note.username}}</div>
			
    	</div>
	</div>
<!-- 	<div style="position: absolute;top: 16px;right: 108px;">
		
	</div> -->
    <div ng-model="username" style="position:absolute; height: 75px; align-self: center;line-height: 75px;right: 0;font-size: 28px;">
    	<div id="containtAvatar">
			<img src="" id="iconAvatar">
		</div>
    	<p style="display: inline-block;">{{username}}</p>
    </div>
</div>
<style type="text/css">
	.dropdown{
		position:absolute; 
		/*height: 50px;*/
		/*width:50px;*/
		right: 300px;
		align-self: center; 
		background: green;
		border-radius: 50%;
		background-color: #85cdca;
	}
	.dropdown:hover{
	}
	.dropdown-content {
		display: none;
		position: absolute;
		z-index: 1;/******************/
		width: 500px;
		height: 500px;
		overflow: auto;
		top: 50px;
		border:2px double #CDCDCD;
		right: -20px;
	}
	.el {
		height: 50px;
		background-color: white;
	}
	.el:hover {
		background-color: #ddd;
		cursor: pointer;
	}
	/*.dropdown:hover .dropdown-content {
  		display: block;
	}*/
	.icon{
		width: 50px;
		height: 50px;
		border-radius: 50%;
		position: absolute;

	}
	.icon:hover{
		cursor: pointer;
	}
	.header-span{
		background-color: red;
		width: 25px;
		height: 25px;
		border-radius: 50%;
		display: block;
		z-index: 1;
		text-align: center;
		font-weight: 800;
		position: absolute;
		left: 40px;
	}
	.room-invi{
		position: relative;
		height: 100px;
		width: 100%;
		border-bottom: 1px solid  #CDCDCD;
	}
	.room-invi:hover{
		background: #CDCDCD;
	}
		.room-invi .header-notifi{
			margin: 0;
			height: 34px;
			white-space: nowrap;
			padding-top: 8px;
			font-size: 21px;
			text-align: center;
		}
	#iconAvatar{
		width: auto;
		height: 100%;
		margin-left: -50%;
	}
	#containtAvatar{
		/*display: block;
		position: absolute;*/
		display: inline-block;
		width: 50px;
		height: 50px;
		overflow: hidden;
		border-radius: 50%;
		left: 50%;
		transform: translateX(-50%);
	}

</style>
