<div class="room" data-ng-init="roominit()">
    <div class="room-nav">
        <div class="add-room" style="padding-left: 120px;">
            <md-button  class="md-primary md-raised room-button" ng-click="showAdvanced($event)">
                    Create Room
            </md-button>
        </div>
        <!-- <div class="join-room">
            <md-button class="md-primary md-raised room-button join-button" ng-click="showForm($event)">
                    Join Room
            </md-button>
        </div> -->
    </div>
    <md-list-item class="room-hover" ng-repeat="room in rooms" ng-click="panelClick($index, room)" 
        id="{{room.chatroom_id}}" on-finish-render="ngRepeatFinished" class="room-item">
        <div class="imgContainer">
            <img src={{room.imageRoomSrc}} class="myImg" alt="{{item.who}}" />
        </div>
            <div class="md-list-item-text" layout="column" style="padding-left: 20;">
            <h3 style="line-height: 30px;margin: 5px;">{{room.chatroom_name }} </h3>
            <p style="margin:5px">member : {{room.member}}</p>
            
           
            </div>
    </md-list-item>
</div>
