<div style="background-color: #ffc0cb">
	<input type="text" id="username"  placeholder="Username" ng-model="asd"><button id="add" ng-click="display()">add</button>
	<div>
		<p class="title">Friends list</p>
		<ol id="listFriends">
			<li ng-repeat="x in listFriends" ng-click="showEl(x)">{{x.username}}</li>
		</ol>
	</div>
</div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<!-- <script>
	$(function(){
		// $('#add').on('click',()=>{
		// 	$.ajax({
		// 		url:'/addFriends',
		// 		method:'POST',
		// 		data:{ username:$('#username').val() }
		// 	});

		// });
		// $.ajax({
		// 	url:'/addFriends',
		// 	method:'GET',
		// 	success:data=>{//data gồm tên friend,chatroomname với friend và id room
		// 		console.log(data);
		// 		let i;
		// 		for(i=0;i<data.length;i++){
		// 			$('#listFriends').append('<li>'+data[i].username+'</li>');
		// 		}
		// 		$("ol").on("click",event=>{	
		// 			var testArr=data.find(element=>{
		// 				return element.username==$(event.target).text();
		// 			});
		// 			var chatId=testArr.chatroom_id;//đây là mã phòng chat của currentuser và friend clicked
		// 			console.log(chatId);
		// 		});
		// 	}
		// });
	});
</script> -->
<style>
	ol li {
  	background: #ffe5e5;
  	padding: 5px;
  	margin-left: 35px;
  	font-size: 25px;
  	color: #ff1493;
	}
	ol {
 	 background: #ff9999;
 	 padding: 20px;
	}
	li:nth-child(even){
		background: #ff9999;
	}
	li:hover{
		background-color: black;
		cursor: pointer;
	}
	.title{
	color: #F072A9;
	font-weight: bold;
	font-size: 25px;
	text-shadow: 1px 1px 1px #fff;

	}
	/*css style source code : sanwebe.com*/
	#add{
		background: #EB3B88;
	border: 1px solid #C94A81;
	padding: 5px 15px 5px 15px;
	color: #FFCBE2;
	box-shadow: inset -1px -1px 3px #FF62A7;
	-moz-box-shadow: inset -1px -1px 3px #FF62A7;
	-webkit-box-shadow: inset -1px -1px 3px #FF62A7;
	border-radius: 3px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;	
	font-weight: bold;
	}
	#username{
		border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #FFC2DC;
	outline: none;
	color: #F072A9;
	padding: 5px 8px 5px 8px;
	box-shadow: inset 1px 1px 4px #FFD5E7;
	-moz-box-shadow: inset 1px 1px 4px #FFD5E7;
	-webkit-box-shadow: inset 1px 1px 4px #FFD5E7;
	background: #FFEFF6;
	}
</style>
