<html>
    <head>
        <title>ChatForm</title>
        <link rel="stylesheet" href="/content/chatForm.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
    </head>
    <body>
        <div class="container" ng-app="myApp" ng-controller="myCtrl" data-ng-init="init()">
            <div class="header" ng-app="" ng-controller="headerCtrl">
                <div class="menu-icon" ng-app="">
                        <button class="menu-button" ng-click="clickMenu()">
                            <i class="fas fa-bars fa-2x"></i>
                        </button>
                        <p>{{myButton}}</p>
                </div>
                <div ng-model="username" style="position:absolute; height: 75px; align-self: center;line-height: 75px;right: 0;font-size: 28px;">{{username}}</div>
            </div>
            <div class="menu animate-show-hide" ng-app="ngAnimate" ng-hide="!myButton" ng-init="items=['Profile','Friends','Settings','Log Out']" ng-controller="menuController">
                <div ng-repeat="item in items" class="menu-item" ng-app="{{item}}">
                    <p class="menu-text">{{item}}</p>
                </div>
            </div>
            <div class="content" ng-controller="contentController"  ng-class="{'small':myButton, 'big':!myButton}">
                    <div class="room" >
                            <div class="room-nav">
                                    <div class="add-room">
                                        <md-button class="md-primary md-raised room-button" ng-click="showAdvanced($event)">
                                                Create Room
                                        </md-button>
                                    </div>
                                    <div class="join-room">
                                        <md-button class="md-primary md-raised room-button join-button" ng-click="showForm($event)">
                                                Join Room
                                        </md-button>
                                    </div>
                                </div>        
                        <div ng-repeat="room in rooms" class="room-panel" ng-class="{'hightlighted':$index == selectedRow}" ng-click="panelClick($index, room)">{{room.chatroom_name}}</div>
                    </div>
                    <div class="chat-area" ng-view>
                    </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://kit.fontawesome.com/43b6aeb8f4.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
        <script src="./chat.js"></script>

    </body>
</html>