<html>
    <head>
        <title>ChatForm</title>
        <link rel="stylesheet" href="/content/chatForm.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.css">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    </head>
    <body>
        <div class="container" ng-app="myApp" ng-controller="myCtrl" >
            <header-chat></header-chat>
            <menu class="menu-component"></menu>
            <div class="content" ng-controller="contentController" ng-class="{'small':myButton, 'big':!myButton}">
                <!-- <div class="room">
                    <div class="room-nav">
                        <div class="add-room">
                            <md-button class="md-primary md-raised room-button" ng-click="showAdvanced($event)">
                                    Create Room
                            </md-button>
                        </div>
                        <div class="join-room">
                            <md-button class="md-primary md-raised room-button join-button" ng-click="showForm($event)">
                                    Join Room
                            </md-button>
                        </div>
                    </div>
                    <md-list-item class="room-hover" ng-repeat="room in rooms" ng-click="panelClick($index, room)" id="{{room.chatroom_id}}" on-finish-render="ngRepeatFinished">
                        <img ng-src="https://i.pinimg.com/originals/d7/d8/35/d7d835cf05f2d9288f198054b3f1d650.jpg" class="md-avatar" alt="{{item.who}}" />
                        <div class="md-list-item-text" layout="column">
                          <h3>{{room.chatroom_name }}</h3>
                          <p>{{ room.chatroom_description }}</p>
                        </div>
                    </md-list-item>
                </div> -->
                <room-panel></room-panel>
                <div class="chat-area" ng-view></div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
        <script src="https://kit.fontawesome.com/43b6aeb8f4.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-animate.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular-messages.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.12/angular-material.min.js"></script>
        <script src="./chat.js"></script>
        <script src="./headerCtrl.js"></script>
        <script src="./menuCtrl.js"></script>
    </body>
</html>