doctype html
head
  link(href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js')
  title
  style.
    /*div {
    box-sizing: border-box;
    border:1px solid black;
    }*/
    img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border:10px outset white;
    }
    .row {
    margin-bottom: 30px;
    }
    input{
    width: 100%;
    }
    .check:hover{
    /*display: none;*/
    }
form(method='POST')
  .container(style='margin-top: 80px;background-color: azure')
    .row
      .col-sm-5(style='height:500px;position: relative;')
        img(src='https://www.electricireland.ie/images/webchat/live-chat-electric-ireland-web-chat-online-contact.png?sfvrsn=eaf0bb0d_0')
      .col-sm-2
      .col-sm-5
        h2(align='center') Create new account
        span(style='color:red', id='invaildusername',name=invalidUsername)=invalidUsername   
        .row
          .col-sm-12
            input(type='text' name='name' placeholder='Name' value=oldName required)
        span(style='color:red', id='invaildmail',name=invalidEmail)=invalidEmail    
        .row
          .col-sm-12
            input(type='text' name='email' placeholder='Email/Phone' value=oldEmail required)
        .row
          .col-sm-12
            input(type='password' name='password' placeholder='Password' required)
        p(style='margin: 0;') Birth
        .row
          .col-sm-12
            input(type='date' name='birth' required)
        .row
          .col-sm-3
            p
              | Male
              input#male.check(type='radio' name='gender' value='male' required)
          .col-sm-3
            p
              | Female
              input#female.check(type='radio' name='gender' value='female')
          .col-sm-3
            p
              | Other
              input#other.check(type='radio' name='gender' value='other')
        button(type='submit' style='width: 80%;background-color: aqua;height: 60px;margin:50px auto;display: block;') Sign up
      // <div class="col-sm-6" style="height: 500px"></div>
